body{
    background-color: antiquewhite;
}

#logo{
    max-width: 60px;
}

.input-color {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.label-color {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    /* outline: 1px solid #fff; */
    transition: all 0.2s ease;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px black;
}