.specialCollectionSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "left left rightT rightT"
    "left left rightB1 rightB2";
  gap: 10px;
  padding: 10px;
  margin-top: 30px;

  .main {
    background: url("../../images/grid4.jpg");
    grid-area: left;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    h1 {
      color: white;
      font-weight: 500;
    }
    p {
      color: white;
      padding-inline: 20px;
      text-align: center;
    }
    button {
      padding-inline: 25px;
      height: 35px;
      border-radius: 50px;
      background: white;
      border: none;
      font-weight: 500;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
    button:hover {
      background-color: var(--sec-bg-clr);
      color: var(--main-bg-clr);
    }
  }
  div:nth-child(2) {
    background: url("../../images/grid3.jpg");
    grid-area: rightT;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  div:nth-child(3) {
    background: url("../../images/grid2.webp");
    grid-area: rightB1;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  div:nth-child(4) {
    background: url("../../images/grid1.webp");
    grid-area: rightB2;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  div {
    border-radius: 15px;
  }
}
