.cards-section {
  padding: 10px;
  background: var(--bg);
  margin-top: 40px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  margin: 0 auto;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 32px 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 210px;
}

.card-title {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--sec-bg-clr);
  line-height: 1.5;
}

.card-body {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.7;
  color: var(--text-muted);
}
